{% extends 'farmer/layout.html' %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Factory A</h4>
            </div>
            <div class="card-text">
                <div class="columns">
                    <p>Location: </p>
                    <p>Contact: </p>
                    <p>Email: </p>
                    <p>Working Days: </p>
                    <p>Buying Price: </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}