{% extends 'farmer/layout.html' %}

{% block body %}
<!--Carousel Goes Here-->
<!--End of Carousel-->

<div class="container mt-4">
    <h4>Top Price Factories</h4>
    <div class="table-response">
        <table class="table table-striped dt_table">
            <thead>
                <tr>
                    <th>Factory Name</th>
                    <th>Previous Price</th>
                    <th>Current Price</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {% include 'staff/dataTables.html' %}
{% endblock %}