{% extends 'farmer/layout.html' %}

{% block body %}
<!--Carousel Goes Here-->
<!--End of Carousel-->

<div class="container mt-4">
    <h4>Top Price Factories</h4>
    <div class="table-response">
        <table class="table table-striped dt_table">
            <thead>
                <tr>
                    <th>Factory Name</th>
                    <th>Previous Price</th>
                    <th>Current Price</th>
                </tr>
            </thead>
            <tbody>
                {% for price in factories %}
                <tr>
                    <td>{{ price.factory.name }}</td>
                    <td>
                        {% if price.previous_price %}
                        {{'Ksh.'}} {{ price.previous_price }}
                        {% else %}
                        --
                        {% endif %}
                    </td>
                    <td>Ksh. {{ price.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% include 'staff/dataTables.html' %}
{% endblock %}