{% extends 'farmer/layout.html' %}

{% block body %}
<div class="container mt-3">
    <h4>Top Price Factories</h4>
    <div class="table-response">
        <table class="table table-striped dt_table">
            <thead>
                <tr>
                    <th>Factory</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Transaction Type</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td> {{transaction.product.factory.name}} </td>
                    <td> {{transaction.date}} </td>
                    <td> Ksh. {{transaction.amount}} </td>
                    <td> {{transaction.transaction_type.capitalize}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% include 'staff/dataTables.html' %}
{% endblock %}