{% extends 'staff/layout.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="table-responsive container mt-4">
    <table class="table table-striped dt_table">
        <thead>
            <tr>
                <th>ID NO</th>
                <th>Farmer</th>
                <th>Date</th>
                <th>Approx Qty(Kg's)</th>
                <th>Actual Qty(Kg's)</th>
            </tr>
        </thead>
        <tbody>
            {% for product in object_list %}
            <tr>
                <td>{{product.farmer.id_number}}</td>
                <td>{{product.farmer.first_name}} {{product.farmer.last_name}}</td>
                <td>{{ product.date }}</td>
                <td>{{ product.approximate_quantity }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
{% include "staff/dataTables.html" %}
{% endblock %}