{% extends 'staff/layout.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="table-responsive container mt-4">
    <table class="table table-striped dt_table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Factory</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            {% for admin in factory_admins %}
            <tr>
                <td>{{admin.first_name}} {{admin.last_name}}</td>
                <td>{{ admin.factorystaff.factory.name }}</td>
                <td>
                    <a href="{% url 'staff:delete_factory_admin' admin.id %}" class="btn btn-sm btn-outline-primary"><i class="fas fa-trash"></i></a>
                    <a href="{% url 'staff:edit_factory_admin' admin.id %}" class="btn btn-sm btn-outline-danger"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
{% include "staff/dataTables.html" %}
{% endblock %}