{% extends 'farmer/layout.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'account/custom.css' %}">
{% endblock %}


{% block body %}
<div class="signForm">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary">Create Account</button>
    </form>
    <small class="text-muted float-right">Already have and account?
        <a href="{% url 'account:login' %}">Login</a>
    </small>
</div>
{% endblock %}