<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Coffee {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="{% static 'universal/universal.css' %}">
    {% block styles %}{% endblock %}
</head>

<body>
    <nav class=" navbar navbar-dark bg-yellow navbar-expand-sm fixed-top" role="navigation" aria-label="navigation bar">
        <a href="{% url 'staff:index' %}" class="navbar-brand">Staff Account</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#homeNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="homeNav">
            <ul class="navbar-nav">
                {% if user.userlevel == 'manager'%}
                <!--Super Adminstrator-->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-warehouse"></i>
                        Factories</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'staff:factories' %}" class="dropdown-item">All Factories</a>
                        <a href="{% url 'staff:add_factory' %}" class="dropdown-item">Add Factory</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user-alt"></i>
                        Factory Admin</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'staff:add_station_admin' %}" class="dropdown-item">Add New</a>
                        <a href="{% url 'staff:factory_admins_list' %}" class="dropdown-item">Admin List</a>
                    </div>
                </li>
                <!--End of Super admin-->
                {% elif user.userlevel == 'factory_admin' %}
                <!--Factory Adminstrator-->

                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-user"></i>
                        Staff</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'factory_admin:add_accountant' %}" class="dropdown-item">Add New</a>
                        <a href="{% url 'factory_admin:staff_list' %}" class="dropdown-item">Manage</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Products</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'factory_admin:products_schedule' %}" class="dropdown-item">Pending Review</a>
                        <a href="{% url 'factory_admin:scheduled' %}" class="dropdown-item">Scheduled List</a>
                        <a href="{% url 'factory_admin:collected' %}" class="dropdown-item">Collected Products</a>
                    </div>
                </li>
                <!--End of Factory admin-->
                {% elif user.userlevel == 'accounts' %}
                <!--Factory Accountant-->
                <li class="nav-item">
                    <a href="{% url 'accountant:balances' %}" class="nav-link">Pending Payment</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accountant:payment_history' %}" class="nav-link">Payment History</a>
                </li>
                {% endif %}
                <!--TO WORK ONCE THE APPLICATION IS FULLY WORKING
                <div class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-book"></i>
                        Reports</a>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item">Payment History</a>
                        <a href="" class="dropdown-item">Payment Report</a>
                        <a href="" class="dropdown-item">Correction History</a>
                    </div>
                </div>
                -->
                <!--End of factory Accountant-->

            </ul>
            <ul class="navbar-nav ml-auto">
                <!-- TO SEND ACCOUNT NOTIFICATIONS
                <li class="nav-item">
                    <a href="" class="nav-link"><i class="fas fa-bell"></i></a>
                </li>
                -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog"></i></a>
                    <div class="dropdown-menu">
                        <a href="{% url 'staff:profile' %}" class="dropdown-item">Profile</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account:logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            <p>{{message}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block body %}
    {% endblock %}
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/popper.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>